@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family */
*{
    font-family: "Inter", system-ui;
    font-size: 14px;
}

/* Tranistions */
.component-rendering-tranistion{
    animation: 0.2s show-in ease-in;
}

@keyframes show-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.reload-rounding{
    animation: reload-rounding infinite 0.4s linear;
}


@keyframes reload-rounding {
    from{
        rotate: 0;
    }
    to{
        rotate: 360deg;
    }
}



/* Sekeleton */
.skeleton-line-animate{
    animation: skeleton-line-animation infinite linear 1s;
}

@keyframes skeleton-line-animation {
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
}